/********************* CSS Tag Selector ************************/

h1 {
    color: red;
    font-size: 50px;
  }

  
  img:hover {
    background-color: gold;
} 


p {
    color: blue;
    font-size: 30px;
}

/********************* CSS Class Selector ************************/

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

/********************* CSS Id Selector ************************/

#heading {
    color: blue;
}