
body {
    margin-top: 0;
    margin: 0;
    text-align: center;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Merriweather', serif; /*embedded font from https://fonts.google.com */
    font-size: 200%;
}

h1 {
    color: #66BFBF;
    /* font-size: 562.5%; */
    /* font-size: 90px; */
    /* 'rem' means font-size is not inherited from parent (it is relative to the tag, where it is defined*/
    font-size: 5.625rem; /* 16px = 100% = 1em (1em = width of M), 90px = 5.625em  */
    
    /*margin-top: 50px; /* better to use static (px) scale (em/rem = dynamic scale*/
    /* change padding between <h1> and <h2> --> margin-top --> margin: top, right, bottom, left */
    margin: 50px auto 0 auto; 
    font-family: 'Sacramento', cursive;
    
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    /* set font-size to 40px: 1em = 16px --> 40/16 = 2.5 rem */
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {
    
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.computer-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}
